body {
	width: 100%;
	height: 100vh;
	background-color: #2c2c2c;
}

input:focus {
	outline: none;
}

#app {
	width: 100%;
	margin: 0px auto;
}

.hidden {
	display: none;
}

.app-top {
	height: 60px;
	display: flex;
	align-items: flex-start;
	flex: 0 0 auto;
}

.top-left {
	--max-height: 60px;
	--side-padding: 8px;
	height: 60px;
	align-items: stretch;
	flex-grow: 0;
	flex-shrink: 100000000;
}

.search-area {
	padding: 5px 0px;
	width: 400px;
	height: 50px;
	opacity: 0.5;
}

.search-area .js-search {
	border: none;
	border-bottom: 2px solid #2c2c2c;
	width: 100%;
	height: 100%;
	font-size: large;
	font-weight: bold;
	color: #2c2c2c;
	border-radius: 3px;
}

.top-center {
	justify-content: center;
	flex-grow: 0;
}

.top-right {
	min-height: 60px;
	min-width: 0px;
	flex-direction: row-reverse;
	justify-content: flex-start;
	text-align: right;
}

.top-left,
.top-center,
.top-right {
	position: relative;
	display: inline-flex;
	flex: 1 1 auto;
}

.center-above,
.center-below {
	flex: 1 1 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 auto;
}

.center .content {
	margin: -3px 0;
	position: relative;
	text-align: center;
}

.content-center .js-login {
	border: none;
	border-bottom: 2px solid #2c2c2c;
	margin-bottom: 10px;
	opacity: 0.4;
	width: 200px;
	height: 50px;
	font-size: larger;
	font-weight: bold;
	color: #2c2c2c;
	border-radius: 3px;
	vertical-align: middle;
}

.app-bottom {
	height: 60px;
	display: flex;
	justify-content: space-between;
}

.bottom-left {
}

.bottom-center {
	justify-content: center;
	flex-grow: 0;
}

.bottom-right {
	justify-content: flex-end;
}

.bottom-left,
.bottom-center,
.bottom-right {
	display: flex;
	align-items: flex-end;
	flex: 0 0 185px;
}

.wise-saying {
	padding: 0px 5px;
	width: 800px;
	height: 50px;
	text-align: center;
}

.font {
	color: beige;
	font-size: 20pt;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgb(88, 88, 88);
}

.font80 {
	font-size: 80pt;
}

.font60 {
	font-size: 60pt;
}

.font40 {
	font-size: 40pt;
}
